@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');


@keyframes arrow {
    0%{
        margin-bottom: 30px;
    }
    50%{
        margin-bottom: 70px;
    }
    100%{
        margin-bottom: 30px;

    }
}

body{
    background-color: #e8e8e87d;
}

/*
Slide*/


.slide{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/3-copia.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.back{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color:white;
}
.back span{
    margin-bottom: 70px;
    font-size: 36px;
    animation: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
/*
HISTORY
*/

.history{
    width: 100%;
    height: auto;
    margin: 0px 0 0px 0;
    padding: 100px 0 50px 0;
}
.history hr{
    background-color: #937C6F;
    height: 6px;
    border: none;
    border-radius: 2px;
}
.flex{
    display: flex;
    width: 80%;
    margin: 0px auto 50px auto;
    flex-wrap: wrap;
}

.header{
    width: 250px;
    flex-grow: 1;
    padding: 0 60px 0 0px;
    box-sizing: border-box;
}
.header-2{
    width: 300px;
    height: 400px;
    flex-grow: 1;
    padding: 0 20px 0 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.header h2{
    font-size: 48px;
}
.header-2 h2{
    font-size: 54px;
}
.text{
    width: 400px;
    flex-grow: 6;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}
.history-photo {
    width: 350px;
    flex-grow: 1;
    box-sizing: border-box;

}
.header-img{
    margin-left: 70px;
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-image: url('https://images.pexels.com/photos/8859/drink-beer.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
}
.cer{
    width: 300px;
    height: 400px;
    filter: grayscale(80%);
    margin-left: 50px;
    margin-top:-100px;
}
.fl{
    display: flex;
}


/*
Banner*/

.banner{
    width: 100%;
    height: auto;
    background-image: url('https://images.pexels.com/photos/434311/pexels-photo-434311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    display: flex;

}
.banner h3{
    color:white;
}
.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    font-family: 'Nanum Gothic', sans-serif;
    color:white;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
}
.cover span{
    text-align: center;
    font-size: 36px;
    margin: 0 15px;
}
.btn_visit{
    width: 150px;
    height: 50px;
    background-color: #937C6F;
    border: none;
    text-transform: uppercase;
    color:white;
    letter-spacing: 3px;
}
.insta{
    width: 90%;
    margin: 50px auto;
    display: flex;

}
.insta-post{
    width: 200px;
    height: 200px;
    flex-grow: 1;
    background-image: url('https://images.pexels.com/photos/1269040/pexels-photo-1269040.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-position: center;
    background-size: cover;
    margin: 0 10px;
}

/*
Preview*/

.preview{
    background-color: white;
    width: 80%;
    margin:100px auto;
}